body{
    font-family: 'Oswald', sans-serif;
    
}
.orange-color{
    color: salmon;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 50%;
    padding-left: 30%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,salmon);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 30px;
}
.about-me{
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3000px ;
}
.recipe-middle{
    text-align: center;
    margin-left: 5%;
}
.recipe-middle p{
    text-align: center;
   margin-left: 10%;
   margin-right: 5%;
}
#salad-area{
    box-shadow: 10px 10px 10px 10px grey;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-left: 5%;
}
#meat-area{
    box-shadow: 10px 10px 10px 10px grey;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-left: 5%;
}
#soup-area{
    box-shadow: 10px 10px 10px 10px grey;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-left: 5%;
}